# Some assumptions to make before analyzing the data

1. We only include the employees working in North America in our dataset.
2. We focus on the general industry, such as Entertainment, Finance, Retial, Manufacturing, Fashion and IT, etc.
3. We define gender as 4 types (Female, Male, Non-binary and Trans).
4. The total salary is comprised of the annual base salary and anuual bonus.

In [ ]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir('D:\\U of A\\job searching\\documents')

In [3]:
file=pd.read_excel('Anonymous Salary Survey.xlsx')

Adding a file: North American states and provinces.
Mapping each state code to the corresponding state.

In [4]:
with open('North American states and provinces.txt', 'r') as file_:
    data = file_.read()

In [6]:
data = data.split('\n')

In [7]:
len(data)//6

102

In [8]:
file2 = pd.DataFrame(data = np.zeros((102,3)), columns = ['Code','State','Country'])

In [9]:
for i in range(len(file2['Code'])):
    file2.loc[i,'Code'] = data[6*i + 1]
    file2.loc[i,'State'] = data[6*i + 3]
    file2.loc[i,'Country'] = data[6*i + 5]

In [10]:
file2['code_state'] = file2['Code'] + ' ' + file2['State']

In [43]:
file2

    Code           State Country          code_state
0     AK          Alaska      US           AK Alaska
1     AL         Alabama      US          AL Alabama
2     AZ         Arizona      US          AZ Arizona
3     AR        Arkansas      US         AR Arkansas
4     CA      California      US       CA California
..   ...             ...     ...                 ...
97   TAM      Tamaulipas      MX      TAM Tamaulipas
98   TLA        Tlaxcala      MX        TLA Tlaxcala
99   VER  Veracruz Llave      MX  VER Veracruz Llave
100  YUC         Yucatan      MX         YUC Yucatan
101  ZAC       Zacatecas      MX       ZAC Zacatecas

[102 rows x 4 columns]

Adding a file: America major cities and states.
Mapping each American city to the corresponding state.

In [12]:
with open('America major cities and states.txt', 'r') as file__:
    data2 = file__.read()

In [13]:
data2 = data2.split('\n')
data3 = []
for i in range(len(data2)):
    list = data2[i].split('\t')
    for l in list:
        data3.append(l)

In [14]:
len(data3)//3

50

In [15]:
file3 = pd.DataFrame(data = np.zeros((50,3)), columns = ['State','capital','major_city'])

In [16]:
for i in range(len(file3['State'])):
    file3.loc[i,'State'] = data3[3*i]
    file3.loc[i,'capital'] = data3[3*i + 1]
    file3.loc[i,'major_city'] = data3[3*i + 2]

In [17]:
file3

,State,capital,major_city
0,Alabama,Montgomery,"Birmingham, Montgomery, Mobile, Huntsville, Tu..."
1,Alaska,Juneau,"Anchorage, Fairbanks, Juneau, Sitka, Ketchikan"
2,Arizona,Phoenix,"Phoenix, Tucson, Mesa, Chandler, Glendale"
3,Arkansas,Little Rock,"Little Rock, Fort Smith, North Little Rock, Fa..."
4,California,Sacramento,"Los Angeles, San Diego, San Jose, San Francisc..."
5,Colorado,Denver,"Denver, Colorado Springs, Aurora, Fort Collins..."
6,Connecticut,Hartford,"Bridgeport, New Haven, Hartford, Stamford, Wat..."
7,Delaware,Dover,"Wilmington, Dover, Newark, Middletown, Smyrna"
8,Florida,Tallahassee,"Jacksonville, Miami, Tampa, St. Petersburg, Or..."
9,Georgia,Atlanta,"Atlanta, Augusta-Richmond, Columbus, Savannah,..."
10,Hawaii,Honolulu,"Honolulu, Hilo1, Kailua1, Kapolei1, Kaneohe1"
11,Idaho,Boise,"Boise, Nampa, Meridian, Idaho Falls, Pocatello"
12,Illinois,Springfield,"Chicago, Aurora, Rockford, Joliet, Naperville"
13,Indiana,Indianapolis,"Indianapolis, Fort Wayne, Evansville, South Be..."
14,Iowa,Des Moines,"Des Moines, Cedar Rapids, Davenport, Sioux Cit..."
15,Kansas,Topeka,"Wichita, Overland Park, Kansas City, Topeka, O..."
16,Kentucky,Frankfort,"Louisville, Lexington, Bowling Green, Owensbor..."
17,Louisiana,Baton Rouge,"New Orleans, Baton Rouge, Shreveport, Lafayett..."
18,Maine,Augusta,"Portland, Lewiston, Bangor, South Portland, Au..."
19,Maryland,Annapolis,"Baltimore, Frederick, Rockville, Gaithersburg,..."
20,Massachusetts,Boston,"Boston, Worcester, Springfield, Lowell, Cambridge"
21,Michigan,Lansing,"Detroit, Grand Rapids, Warren, Sterling Height..."
22,Minnesota,Saint Paul,"Minneapolis, Saint Paul, Rochester, Duluth, Bl..."
23,Mississippi,Jackson,"Jackson, Gulfport, Hattiesburg, Southaven, Biloxi"
24,Missouri,Jefferson City,"Kansas City, Saint Louis, Springfield, Indepen..."
25,Montana,Helena,"Billings, Missoula, Great Falls, Bozeman, Butte"
26,Nebraska,Lincoln,"Omaha, Lincoln, Bellevue, Grand Island, Kearney"
27,Nevada,Carson City,"Las Vegas, Henderson, North Las Vegas, Reno, S..."
28,New Hampshire,Concord,"Manchester, Nashua, Concord, Derry, Rochester"
29,New Jersey,Trenton,"Newark, Jersey City, Paterson, Elizabeth, Edison"
30,New Mexico,Santa Fe,"Albuquerque, Las Cruces, Rio Rancho, Santa Fe,..."
31,New York,Albany,"New York, Buffalo, Rochester, Yonkers, Syracuse"
32,North Carolina,Raleigh,"Charlotte, Raleigh, Greensboro, Winston-Salem,..."
33,North Dakota,Bismarck,"Fargo, Bismarck, Grand Forks, Minot, West Fargo"
34,Ohio,Columbus,"Columbus, Cleveland, Cincinnati, Toledo, Akron"
35,Oklahoma,Oklahoma City,"Oklahoma City, Tulsa, Norman, Broken Arrow, La..."
36,Oregon,Salem,"Portland, Eugene, Salem, Gresham, Hillsboro"
37,Pennsylvania,Harrisburg,"Philadelphia, Pittsburgh, Allentown, Erie, Rea..."
38,Rhode Island,Providence,"Providence, Warwick, Cranston, Pawtucket, East..."
39,South Carolina,Columbia,"Columbia, Charleston, North Charleston, Mount ..."
40,South Dakota,Pierre,"Sioux Falls, Rapid City, Aberdeen, Brookings, ..."
41,Tennessee,Nashville,"Memphis, Nashville, Knoxville, Chattanooga, Cl..."
42,Texas,Austin,"Houston, San Antonio, Dallas, Austin, Fort Worth"
43,Utah,Salt Lake City,"Salt Lake City, West Valley City, Provo, West ..."
44,Vermont,Montpelier,"Burlington, Essex, South Burlington, Colcheste..."
45,Virginia,Richmond,"Virginia Beach, Norfolk, Chesapeake, Richmond,..."
46,Washington,Olympia,"Seattle, Spokane, Tacoma, Vancouver, Bellevue"
47,West Virginia,Charleston,"Charleston, Huntington, Parkersburg, Morgantow..."
48,Wisconsin,Madison,"Milwaukee, Madison, Green Bay, Kenosha, Racine"
49,Wyoming,Cheyenne,"Cheyenne, Casper, Laramie, Gillette, Rock Springs"

In [18]:
file.columns

Index(['Timestamp', 'Age Range', 'Years of Experience', 'Industry',
       'Industry_edited', 'Job Title', 'Company Name',
       'Highest Level of Education Received',
       'Closest Major City and State (e.g. Santa Clara, CA)', 'Country',
       'Annual Base Salary (if hourly, please convert to annual)',
       'Annual Bonus', 'Annual Average of RSUs',
       'Signing Bonus (if none, leave blank)', 'Currency (USD, CAD, etc)',
       'How many vacation days are you given per year?',
       'How many sick days are you given per year?',
       'How many days per week are you required to work onsite/in the office?',
       'Do you openly discuss salary with your colleagues?',
       'How many months Maternity or Paternity does your company offer?',
       'Gender (optional)', 'Unnamed: 21', 'Diverse Identity (Optional)',
       'Unnamed: 23', ' ', ' .1', ' .2', ' .3', ' .4', ' .5', ' .6', ' .7',
       ' .8', ' .9', ' .10', ' .11', ' .12', ' .13', ' .14', ' .15', ' .16',
       ' .17', ' .18', ' .19', ' .20', ' .21', ' .22', ' .23', ' .24', ' .25'],
      dtype='object')

In [19]:
file=file.drop(['Unnamed: 21','Unnamed: 23',' ', ' .1', ' .2', ' .3', ' .4', ' .5', ' .6', ' .7',' .8', ' .9', ' .10', ' .11', ' .12', ' .13', ' .14', ' .15', ' .16',' .17', ' .18', ' .19', ' .20', ' .21', ' .22', ' .23', ' .24', ' .25'], axis=1)

In [20]:
file=file.drop(['Company Name','Annual Average of RSUs','Signing Bonus (if none, leave blank)','How many days per week are you required to work onsite/in the office?','Do you openly discuss salary with your colleagues?','Diverse Identity (Optional)'],axis=1)

In [21]:
file['Highest Level of Education Received'].unique()

array(["Bachelor's Degree", 'Some College credit, no degree',
       'High School Graduate, Diploma or the equivalent (e.g. GED)',
       "Master's Degree", 'Associate Degree', 'No Schooling Completed',
       'Doctorate Degree', 'Trade, Technical, Vocational Training', nan,
       'Professional Degree', 'Some High School, No Diploma'],
      dtype=object)

In [22]:
file[file['Highest Level of Education Received']=='High School Graduate, Diploma or the equivalent (e.g. GED)']='High School'
file[file['Highest Level of Education Received']=='Some High School, No Diploma']='High School'
file[file['Highest Level of Education Received']=='Trade, Technical, Vocational Training']='Professional Degree'
file[file['Highest Level of Education Received']=='Some College credit, no degree']='No Degree'
file[file['Highest Level of Education Received']=='No Schooling Completed']='No Degree'

In [23]:
file['Highest Level of Education Received'].unique()

array(["Bachelor's Degree", 'No Degree', 'High School', "Master's Degree",
       'Associate Degree', 'Doctorate Degree', 'Professional Degree', nan],
      dtype=object)

In [24]:
file.dropna(subset = ['Currency (USD, CAD, etc)','Years of Experience','Industry','Highest Level of Education Received','Closest Major City and State (e.g. Santa Clara, CA)','Gender (optional)'], inplace=True)

In [25]:
file.reset_index(drop=True,inplace=True)

In [26]:
file=file.rename(columns={"Highest Level of Education Received": "Level of Education", "Closest Major City and State (e.g. Santa Clara, CA)": "Major City","Annual Base Salary (if hourly, please convert to annual)":"Annual Salary","Currency (USD, CAD, etc)":"Currency","How many vacation days are you given per year?":"Vacation per Year","How many sick days are you given per year?":"Sick Days per Year","How many months Maternity or Paternity does your company offer?":"Maternity/Paternity per Year","Gender (optional)":"Gender"})

In [27]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54082 entries, 0 to 54081
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Timestamp                     54082 non-null  object
 1   Age Range                     54063 non-null  object
 2   Years of Experience           54082 non-null  object
 3   Industry                      54082 non-null  object
 4   Industry_edited               42546 non-null  object
 5   Job Title                     53648 non-null  object
 6   Level of Education            54082 non-null  object
 7   Major City                    54082 non-null  object
 8   Country                       52762 non-null  object
 9   Annual Salary                 54017 non-null  object
 10  Annual Bonus                  39567 non-null  object
 11  Currency                      54082 non-null  object
 12  Vacation per Year             50939 non-null  object
 13  Sick Days per Year            45054 non-null  object
 14  Maternity/Paternity per Year  35182 non-null  object
 15  Gender                        54082 non-null  object
dtypes: object(16)
memory usage: 6.6+ MB

In [28]:
file.shape

(54082, 16)

In [29]:
file.columns

Index(['Timestamp', 'Age Range', 'Years of Experience', 'Industry',
       'Industry_edited', 'Job Title', 'Level of Education', 'Major City',
       'Country', 'Annual Salary', 'Annual Bonus', 'Currency',
       'Vacation per Year', 'Sick Days per Year',
       'Maternity/Paternity per Year', 'Gender'],
      dtype='object')

# Extract state/province from major city

Spliting the cities and states from raw data.

In [30]:
file['State/Province']=np.zeros((file.shape[0],1))

In [31]:
for i, cities in enumerate(file['Major City']):
    file.loc[i,'Major City'] = cities.split(',')[0]
    file.loc[i,'State/Province'] = cities.split(',')[1] if len(cities.split(',')) == 2 else np.nan

In [32]:
for i, states in enumerate(file['State/Province']):
    file.loc[i,'State/Province'] = ''.join([state.upper() for state in str(states) if state.isalnum()])

In [33]:
for i, states in enumerate(file['State/Province']):
    for k, j in enumerate(file2['code_state']):
        if (j.split(' ')[0]).upper() in states:
            file.loc[i, 'State/Province'] = file2.loc[k, 'State']
        elif (j.split(' ')[1]).upper() in states:
            file.loc[i, 'State/Province'] = file2.loc[k, 'State']
        else:
            file.loc[i, 'State/Province'] = file.loc[i, 'State/Province']

In [35]:
for i, cities in enumerate(file['Major City']):
    for k, j in enumerate(file3['major_city']):
        if cities.lower() in j.lower():
            file.loc[i, 'State/Province'] = file3.loc[k, 'State']
        elif (j.split(' ')[1]).upper() in states:
            file.loc[i, 'State/Province'] = file3.loc[k, 'State']
        else:
            file.loc[i, 'State/Province'] = file.loc[i, 'State/Province']

In [40]:
file['State/Province'].unique()

array(['Pennsylvania', 'NAN', 'Texas', 'Minnesota', 'Illinois',
       'Wisconsin', 'Florida', 'Rhode Island', 'Utah', 'New York',
       'Ontario', 'Massachusetts', 'California', 'Delaware', 'New Mexico',
       'Alberta', 'North Carolina', 'Washington', 'Missouri',
       'West Virginia', 'District of Columbia', 'Nebraska', 'Colorado',
       'Georgia', 'Ohio', 'New Brunswick', 'Michigan', 'Connecticut',
       'Alabama', 'Oklahoma', 'Oregon', 'Wyoming',
       'Newfoundland and Labrador', 'Arizona', 'Colima', 'Tennessee',
       'Virginia', 'Northwest Territories', 'South Carolina', 'Indiana',
       'Maryland', 'Louisiana', 'Vermont', 'Queretaro De Arteaga',
       'New Jersey', 'Kentucky', 'Arkansas', 'Nevada', 'Manitoba',
       'Nova Scotia', 'Alaska', 'QLD', 'Idaho', 'Iowa', 'Quebec',
       'New Hampshire', 'Kansas', 'U.S. Virgin Islands', 'Hawaii',
       'Saskatchewan', 'Prince Edward Island', 'San Luis Potosi', 'OTAGO',
       'South Dakota', 'Montana', 'UK', 'North Dakota', 'Mississippi',
       'IE', 'DV', 'QUÃ‰BEC', 'Michoacan De Ocampo', 'EU', 'Yukon', 'CH',
       'PY', 'Puerto Rico', 'British Columbia', 'KA', 'HESSE', 'NRW',
       'DL', 'Tlaxcala', 'Maine', '', 'Veracruz Llave', 'C', 'SG', 'TL',
       'SA', 'AU', 'A', 'NZ', 'Sinaloa', 'FR', 'BW', 'Nunavut',
       'Campeche', 'MVD', 'SP', 'MX', 'Tamaulipas', 'Guam', 'OSLO', 'UY',
       'QB', 'RAJASTHAN', 'RO', 'CLUJ', 'NG', 'RJ', 'HESSEN',
       'Marshall Islands'], dtype=object)

In [ ]:
for i, states in enumerate(file['State/Province']):
     for j in file2['code_state']:
        if j.split(' ')[1] not in states:
            file.loc[i,'State/Province']=np.nan

In [24]:
file.dropna(subset = ['State/Province'], inplace=True)

In [25]:
file.reset_index(drop=True,inplace=True)

In [26]:
file['State/Province'].shape

(42652,)

In [41]:
file['State/Province'].unique()

array(['Pennsylvania', 'NAN', 'Texas', 'Minnesota', 'Illinois',
       'Wisconsin', 'Florida', 'Rhode Island', 'Utah', 'New York',
       'Ontario', 'Massachusetts', 'California', 'Delaware', 'New Mexico',
       'Alberta', 'North Carolina', 'Washington', 'Missouri',
       'West Virginia', 'District of Columbia', 'Nebraska', 'Colorado',
       'Georgia', 'Ohio', 'New Brunswick', 'Michigan', 'Connecticut',
       'Alabama', 'Oklahoma', 'Oregon', 'Wyoming',
       'Newfoundland and Labrador', 'Arizona', 'Colima', 'Tennessee',
       'Virginia', 'Northwest Territories', 'South Carolina', 'Indiana',
       'Maryland', 'Louisiana', 'Vermont', 'Queretaro De Arteaga',
       'New Jersey', 'Kentucky', 'Arkansas', 'Nevada', 'Manitoba',
       'Nova Scotia', 'Alaska', 'QLD', 'Idaho', 'Iowa', 'Quebec',
       'New Hampshire', 'Kansas', 'U.S. Virgin Islands', 'Hawaii',
       'Saskatchewan', 'Prince Edward Island', 'San Luis Potosi', 'OTAGO',
       'South Dakota', 'Montana', 'UK', 'North Dakota', 'Mississippi',
       'IE', 'DV', 'QUÃ‰BEC', 'Michoacan De Ocampo', 'EU', 'Yukon', 'CH',
       'PY', 'Puerto Rico', 'British Columbia', 'KA', 'HESSE', 'NRW',
       'DL', 'Tlaxcala', 'Maine', '', 'Veracruz Llave', 'C', 'SG', 'TL',
       'SA', 'AU', 'A', 'NZ', 'Sinaloa', 'FR', 'BW', 'Nunavut',
       'Campeche', 'MVD', 'SP', 'MX', 'Tamaulipas', 'Guam', 'OSLO', 'UY',
       'QB', 'RAJASTHAN', 'RO', 'CLUJ', 'NG', 'RJ', 'HESSEN',
       'Marshall Islands'], dtype=object)

# Extract main industry from industry

In [28]:
file.loc[file['Industry_edited']=='Accounting','Industry_edited']='Finance'
file.loc[file['Industry_edited']=='Consulting','Industry_edited']='Finance'
file.loc[file['Industry_edited']=='Banking','Industry_edited']='Finance'
file.loc[file['Industry_edited']=='Business','Industry_edited']='Sale & Production'
file.loc[file['Industry_edited']=='Commerce','Industry_edited']='Sale & Production'
file.loc[file['Industry_edited']=='Sale & Retail','Industry_edited']='Sale & Production'
file.loc[file['Industry_edited']=='Production Line','Industry_edited']='Sale & Production'
file.loc[file['Industry_edited']=='Marketimg','Industry_edited']='Marketing'
file.loc[file['Industry_edited']=='Advertising','Industry_edited']='Marketing'
file.loc[file['Industry_edited']=='Film Industry','Industry_edited']='Entertainment'
file.loc[file['Industry_edited']=='Filming','Industry_edited']='Entertainment'
file.loc[file['Industry_edited']=='Healthcare','Industry_edited']='Medical'
file.loc[file['Industry_edited']=='Health Care','Industry_edited']='Medical'
file.loc[file['Industry_edited']=='Clinic','Industry_edited']='Medical'
file.loc[file['Industry_edited']=='Nonprofit','Industry_edited']='Non Profit'
file.loc[file['Industry_edited']=='Building','Industry_edited']='Architecture'
file.loc[file['Industry_edited']=='Biotech','Industry_edited']='Tech Company'
file.loc[file['Industry_edited']=='Insurance','Industry_edited']='Customer Service'
file.loc[file['Industry_edited']=='Beverage','Industry_edited']='Food'
file.loc[file['Industry_edited']=='food','Industry_edited']='Food'
file.loc[file['Industry_edited']=='Agriculture','Industry_edited']='Food'
file.loc[file['Industry_edited']=='E-commerce','Industry_edited']='IT'
file.loc[file['Industry_edited']=='Vehicle','Industry_edited']='Transportation'
file.loc[file['Industry_edited']=='Automotive','Industry_edited']='Transportation'
file.loc[file['Industry_edited']=='Beauty','Industry_edited']='Fashion & Clothes'
file.loc[file['Industry_edited']=='Fashion ','Industry_edited']='Fashion & Clothes'

In [29]:
file['Industry_edited'].unique()

array(['Medical', 'Tech Company', 'Marketing', 'Sale & Production',
       'Government', 'HR', nan, 'Mortgage', 'Energy', 'Finance',
       'Customer Service', 'Education', 'Transportation', 'IT', 'Food',
       'Engineer', 'Architecture', 'Professional Degree', 'Entertainment',
       'Real Estate', 'Fashion & Clothes', 'Communication', 'Non Profit',
       'Arts', 'Filming ', 'Chemical', 'Animal', 'Casino',
       'Administration', 'Aerospace'], dtype=object)

# Extract the annual total salary

Calculating the annual total salary using base salary + bonus

In [30]:
file=file[-(file['Annual Salary'] == 'Professional Degree')]
file.dropna(subset = ['Annual Salary'], inplace=True)
file.reset_index(drop=True,inplace=True)

In [31]:
file['Annual Salary']=file['Annual Salary'].replace('\D','',regex=True)

In [32]:
file=file[-(file['Annual Salary'] == '')]

In [33]:
list = []
for i in file['Annual Salary']:
     list.append(float(i))
file['Annual Salary'] = list

In [34]:
file['Annual Salary'].astype('int64')

0        85000
1        97000
2        57000
3        80000
4        95000
         ...
41839    83000
41840    55000
41841    70000
41842    95000
41843    34000
Name: Annual Salary, Length: 41839, dtype: int64

In [35]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41839 entries, 0 to 41843
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Timestamp                     41839 non-null  object
 1   Age Range                     41822 non-null  object
 2   Years of Experience           41839 non-null  object
 3   Industry                      41839 non-null  object
 4   Industry_edited               31641 non-null  object
 5   Job Title                     41453 non-null  object
 6   Level of Education            41839 non-null  object
 7   Major City                    41839 non-null  object
 8   Country                       40663 non-null  object
 9   Annual Salary                 41839 non-null  float64
 10  Annual Bonus                  28818 non-null  object
 11  Currency                      41839 non-null  object
 12  Vacation per Year             39030 non-null  object
 13  Sick Days per Year            33818 non-null  object
 14  Maternity/Paternity per Year  24791 non-null  object
 15  Gender                        41839 non-null  object
 16  State/Province                41839 non-null  object
dtypes: float64(1), object(16)
memory usage: 5.7+ MB

In [36]:
file['Annual Bonus']=file['Annual Bonus'].replace('[a-zA-Z]','',regex=True)
file['Annual Bonus']=file['Annual Bonus'].replace(' ','')

In [37]:
for i, bns in enumerate(file['Annual Bonus']):
    file.loc[i,'Annual Bonus']= str(bns).split('-')[0]
       
file['Annual Bonus']=file['Annual Bonus'].replace('\D','',regex=True)

In [38]:
file.loc[file['Annual Bonus']=='','Annual Bonus'] = 0

In [ ]:
file.dropna(subset = ['Annual Salary'], inplace=True)
file.reset_index(drop=True,inplace=True)

In [55]:
file['Annual Bonus']=file['Annual Bonus'].astype(float)
file['Annual Salary']=file['Annual Salary'].astype(int)

In [56]:
for i, bns in enumerate(file['Annual Bonus']):
    if bns > 0 and bns < 100:
        file.loc[i,'Annual Salary']=file.loc[i,'Annual Salary']*(1+bns*0.01)
    else:
        file.loc[i,'Annual Salary']=file.loc[i,'Annual Salary'] + file.loc[i,'Annual Bonus']

In [58]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41844 entries, 0 to 41592
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Timestamp                     41839 non-null  object
 1   Age Range                     41822 non-null  object
 2   Years of Experience           41839 non-null  object
 3   Industry                      41839 non-null  object
 4   Industry_edited               31641 non-null  object
 5   Job Title                     41453 non-null  object
 6   Level of Education            41839 non-null  object
 7   Major City                    41839 non-null  object
 8   Country                       40663 non-null  object
 9   Annual Salary                 41837 non-null  float64
 10  Annual Bonus                  41842 non-null  float64
 11  Currency                      41839 non-null  object
 12  Vacation per Year             39030 non-null  object
 13  Sick Days per Year            33818 non-null  object
 14  Maternity/Paternity per Year  24791 non-null  object
 15  Gender                        41839 non-null  object
 16  State/Province                41839 non-null  object
dtypes: float64(2), object(15)
memory usage: 6.8+ MB

# extract currency type

In [ ]:
file.dropna(subset = ['Age Range','Industry','Level of Education','Years of Experience','Currency'], inplace=True)
file.reset_index(drop=True,inplace=True)

In [59]:
list = []
for i in file['Currency']:
     list.append(str(i))
file['Currency'] = list

In [77]:
for i, cus in enumerate(file['Currency']):
    if 'ca' in cus.lower():
        file.loc[i,'Currency']='CAD'
    elif 'cad' in cus.lower():
        file.loc[i,'Currency']='CAD'
    elif 'us' in cus.lower():
        file.loc[i,'Currency']='USD'
    elif 'uds' in cus.lower():
        file.loc[i,'Currency']='USD'
    elif 'usd' in cus.lower():
        file.loc[i,'Currency']='USD'
    elif 'usa' in cus.lower():
        file.loc[i,'Currency']='USD'
    elif 'au' in cus.lower():
        file.loc[i,'Currency']='AUD'
    elif 'pound' in cus.lower():
        file.loc[i,'Currency']='GBP'
    elif 'gb' in cus.lower():
        file.loc[i,'Currency']='GBP'
    elif 'eu' in cus.lower():
        file.loc[i,'Currency']='EUR'
    elif 'nzd' in cus.lower():
        file.loc[i,'Currency']='NZD'
    elif 'newzea' in cus.lower():
        file.loc[i,'Currency']='NZD'
    elif 'isd' in cus.lower():
        file.loc[i,'Currency']='ISD'
    elif 'mxn' in cus.lower():
        file.loc[i,'Currency']='MXN'

In [78]:
for i, cus in enumerate(file['Currency']):
    if len(cus) != 3:
        file.loc[i,'Currency'] = np.nan
    elif 'N/a' in cus:
        file.loc[i,'Currency'] = np.nan
    else:
        file.loc[i,'Currency']=file.loc[i,'Currency']

In [79]:
file['Currency'].unique()

array(['USD', 'CAD', 'AUD', 'Ysd', 'ISD', 'UDD', 'UFD', 'NZD', 'GBP',
       'EUR', 'UDF', 'UAD', 'CHF', 'ASD', 'GDP', 'YSD', 'MXN', 'ðŸ‡ºðŸ‡¸ ',
       'PHP', 'SGD', 'MYR', 'ISS', 'AID'], dtype=object)

# Change year of experience dtype

In [66]:
file['Years of Experience']=file['Years of Experience'].replace('\D','',regex=True)

In [68]:
file['Years of Experience']=file['Years of Experience'].astype(int)

In [69]:
file['Years of Experience'].unique()

array([ 6.,  1.,  2.,  4.,  5.,  8., 10.,  3.,  9., 17., 12.,  7., 11.,
       16., 20., 15., 13., 14., 18., 19., nan])

# Gender

In [70]:
file['Gender'].unique()

array(['Female', 'Male', 'Non-binary', 'non-binary', 'non-binary ',
       'Prefer Not to Say', 'Gender fluid', 'Non-binary ', 'Non-Binary',
       'NB', 'Nonbinary/transmasc', 'Nonbinary', 'Non binary ',
       'Female (selection above not working) ', 'Female/nonbinary',
       'Gay male but fairly them-y', 'Non binary', 'Genderqueer ',
       'non binary ', 'Non-binary/queergender',
       'Genderqueer, Transmasculine', 'Trans man', 'Genderfluid ',
       'Trans Female', 'Male/Non-binary', 'nonbinary', 'Non-conforming',
       'Genderqueer', 'Trans man ', 'bigender, transgender',
       'Non-binary femme', nan], dtype=object)

In [71]:
for i, gen in enumerate(file['Gender']):
    if 'female' in gen.lower():
        file.loc[i,'Gender'] = 'Female'
    elif 'non' in gen.lower():
        file.loc[i,'Gender'] = 'Non-Binary'
    elif 'nb' in gen.lower():
        file.loc[i,'Gender'] = 'Non-Binary'
    elif 'fluid' in gen.lower():
        file.loc[i,'Gender'] = 'Non-Binary'
    elif 'queer' in gen.lower():
        file.loc[i,'Gender'] = 'Non-Binary'
    elif 'bi' in gen.lower():
        file.loc[i,'Gender'] = 'Non-Binary'
    elif 'male' in gen.lower():
        file.loc[i,'Gender'] = 'Male'
    elif 'trans' in gen.lower():
        file.loc[i,'Gender'] = 'Transgender'
    elif 'prefer' in gen.lower():
        file.loc[i,'Gender'] = np.nan

In [72]:
file['Gender'].unique()

array(['Female', 'Male', 'Non-Binary', nan, 'Transgender'], dtype=object)

In [74]:
file.dropna(subset = ['Gender'], inplace = True)
file.reset_index(drop = True,inplace = True)

In [75]:
file['Years of Experience'] = file['Years of Experience'].astype(int)

In [76]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41567 entries, 0 to 41566
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Timestamp                     41567 non-null  object
 1   Age Range                     41567 non-null  object
 2   Years of Experience           41567 non-null  int32
 3   Industry                      41567 non-null  object
 4   Industry_edited               31432 non-null  object
 5   Job Title                     41183 non-null  object
 6   Level of Education            41567 non-null  object
 7   Major City                    41567 non-null  object
 8   Country                       40397 non-null  object
 9   Annual Salary                 41567 non-null  float64
 10  Annual Bonus                  41567 non-null  float64
 11  Currency                      41567 non-null  object
 12  Vacation per Year             38781 non-null  object
 13  Sick Days per Year            33602 non-null  object
 14  Maternity/Paternity per Year  24625 non-null  object
 15  Gender                        41567 non-null  object
 16  State/Province                41567 non-null  object
dtypes: float64(2), int32(1), object(14)
memory usage: 5.2+ MB